---
---

@import "{{ site.theme }}";

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cell {
    flex: 1;
    margin: 0 5px 5px 0;
    width: calc((100% - 10px) / 3);
    min-width: calc((100% - 10px) / 3);
    max-width: calc((100% - 10px) / 3);
    &:nth-child(3n) {
        margin-right: 0;
    };
}

.member_avatar {
    margin: 0 auto;
}

.member_name {
    text-align: center;
}
